# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Leningrads Captain Renew.iml
# Datasource local storage ignored files
/../../../../../:\Leningrads Captain Renew\.idea\.idea.Leningrads Captain Renew\.idea/dataSources/
/dataSources.local.xml
